[Unit]
Description=Face Authentication Service
After=multi-user.target video.target

[Service]
Type=simple
ExecStart=/opt/faceauth/.venv/bin/python3 /opt/faceauth/src/daemon.py
WorkingDirectory=/opt/faceauth
User=root
Group=root
Restart=always
RestartSec=3

ExecStopPost=/bin/rm -f /tmp/faceauth.sock

[Install]
WantedBy=multi-user.target
