[Unit]
Description=Face Authentication Service
After=multi-user.target video.target

[Service]
Type=simple
ExecStart=/opt/sentry/.venv/bin/python3 /opt/sentry/src/daemon.py
WorkingDirectory=/opt/sentry
User=root
Group=root
Restart=always
RestartSec=3

ExecStopPost=/bin/rm -f /tmp/sentry.sock

[Install]
WantedBy=multi-user.target
